@charset "UTF-8";
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles pour cette Media Queries */
  body h2 {
    font-size: 1.7em;
  }
}
footer {
  background: rgb(36, 88, 82);
  height: 65vh;
  display: flex;
  margin: auto;
  align-items: center;
}
footer div {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer div span {
  font-size: 3em;
  color: white;
  font-weight: bold;
}
footer div ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
}
footer div ul li {
  list-style: none;
  text-decoration: none;
}
footer div ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.56em;
  font-weight: bold;
}

header {
  align-items: center;
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: auto;
}
header h1 {
  color: rgb(1, 153, 109);
}
header nav {
  width: 50%;
}
header nav ul {
  list-style: none;
  width: 60%;
  display: flex;
  justify-content: space-around;
}
header nav ul a {
  text-decoration: none;
  font-size: 1.25em;
  color: rgb(41, 41, 41);
  font-weight: bold;
}
header div {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div span {
  font-size: 1.25em;
  font-weight: bold;
}
header div a {
  font-size: 1.25em;
  text-decoration: none;
  color: white;
}
header div a {
  border-radius: 0.25em;
  border: 0em;
  width: 11.5em;
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  background-color: rgb(1, 153, 109);
}

/* 
*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    si on veut supprimer les marges fines sur l'affichage de l'écran dès le départ
} */
body a,
body span,
body p {
  font-family: "Lato", cursive, sans-serif;
}
body p {
  font-size: 1.25em;
}
body h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3.125em;
  color: rgb(1, 153, 109);
}
body h3 {
  font-size: 1.875em;
  color: rgb(0, 0, 0);
  font-family: Georgia, "Times New Roman", Times, serif;
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  body h3 {
    font-size: 1.4;
  }
}
body h4 {
  font-family: "Lato", cursive, sans-serif;
}
body #present {
  height: 80vh;
  background-image: url("../pictures/hero.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
body #present div {
  width: 50%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5vh;
}
@media screen and (max-width: 768px) {
  body #present div {
    width: 100%;
  }
}
body #present div h2 {
  font-size: 4em;
}
@media screen and (min-width: 360px) and (max-width: 576px) {
  body #present div h2 {
    font-size: 1.7em;
  }
}
body #present div p {
  width: 40%;
}
body #present a {
  font-size: 1.25em;
  text-decoration: none;
  color: white;
  border-radius: 0.25em;
  border: 0em;
  width: 11.5em;
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  background-color: rgb(1, 153, 109);
}
body #pageone {
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 360px) and (max-width: 576px) {
  body #pageone {
    justify-content: space-between;
    height: 200vh;
  }
}
@media screen and (min-width: 360px) and (max-width: 576px) {
  body #pageone p {
    font-size: 1em;
  }
}
body #pageone #haut {
  width: 70%;
  height: 20%;
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 360px) and (max-width: 576px) {
  body #pageone #haut {
    width: 100%;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  body #pageone #haut {
    width: 80%;
  }
}
body #pageone #haut #artleft,
body #pageone #haut #artright {
  width: 50%;
  height: 100%;
}
body #pageone #haut #artleft {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media screen and (min-width: 360px) and (max-width: 576px) {
  body #pageone #haut #artleft {
    justify-content: space-evenly;
  }
}
body #pageone #haut #artleft span {
  font-size: 1.5em;
}
body #pageone #haut #artleft h2 {
  margin-top: 0;
}
@media screen and (min-width: 360px) and (max-width: 576px) {
  body #pageone #haut #artleft h2 {
    font-size: 1.7em;
    margin-top: initial;
  }
}
@media screen and (min-width: 577px) and (max-width: 767px) {
  body #pageone #haut #artleft h2 {
    font-size: 1.7em;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  body #pageone #haut #artleft h2 {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 360px) and (max-width: 576px) {
  body #pageone #haut #artright {
    display: flex;
    align-items: center;
  }
}
body #pageone #bas {
  width: 70%;
  height: 55%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (min-width: 360px) and (max-width: 576px) {
  body #pageone #bas {
    flex-direction: column;
    width: 100%;
    height: 80%;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  body #pageone #bas {
    width: 80%;
  }
}
body #pageone #bas p {
  margin-bottom: auto;
}
@media screen and (min-width: 360px) and (max-width: 576px) {
  body #pageone #bas p {
    margin-bottom: initial;
  }
}
@media screen and (min-width: 360px) and (max-width: 576px) {
  body #pageone #bas img {
    width: 50%;
    height: 50%;
  }
}
body #pageone #bas .num {
  font-size: 9.375em;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgba(1, 153, 109, 0.2);
}
@media screen and (min-width: 360px) and (max-width: 576px) {
  body #pageone #bas .num {
    font-size: 5em;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  body #pageone #bas .num {
    font-size: 6em;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  body #pageone #bas .num {
    font-size: 8em;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  body #pageone #bas h3 {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  body #pageone #bas h3 {
    font-size: 1.6em;
  }
}
body #pageone #bas article {
  width: 28%;
  height: 100%;
}
@media screen and (min-width: 360px) and (max-width: 576px) {
  body #pageone #bas article {
    width: 100%;
    height: 33%;
    align-items: center;
  }
}
@media screen and (min-width: 360px) and (max-width: 576px) {
  body #pageone #bas #colleft, body #pageone #bas #colmid, body #pageone #bas #colright {
    justify-content: space-around;
    text-align: center;
  }
}
body #pageone #bas #colleft {
  display: flex;
  flex-direction: column;
}
body #pageone #bas #colleft div {
  position: relative;
}
body #pageone #bas #colleft div h3 {
  position: absolute;
  top: 48%;
  left: 20%;
}
@media screen and (min-width: 360px) and (max-width: 576px) {
  body #pageone #bas #colleft div h3 {
    left: -50%;
  }
}
body #pageone #bas #colmid {
  display: flex;
  flex-direction: column;
}
body #pageone #bas #colmid div {
  position: relative;
}
body #pageone #bas #colmid div h3 {
  position: absolute;
  top: 48%;
  left: 20%;
  width: 100%;
}
@media screen and (min-width: 360px) and (max-width: 576px) {
  body #pageone #bas #colmid div h3 {
    left: -108%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}
body #pageone #bas #colright {
  display: flex;
  flex-direction: column;
}
body #pageone #bas #colright div {
  position: relative;
}
body #pageone #bas #colright div h3 {
  position: absolute;
  top: 48%;
  left: 20%;
}
@media screen and (min-width: 360px) and (max-width: 576px) {
  body #pageone #bas #colright div h3 {
    left: initial;
  }
}
body #page2 {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(36, 88, 82);
  margin: auto;
}
body #page2 #mainbloc {
  display: flex;
  justify-content: center;
  height: 70%;
}
@media screen and (min-width: 360px) and (max-width: 768px) {
  body #page2 #mainbloc {
    flex-direction: column;
  }
}
body #page2 #mainbloc .bloc {
  width: 45%;
  margin: auto;
}
@media screen and (min-width: 360px) and (max-width: 768px) {
  body #page2 #mainbloc .bloc {
    width: 80%;
    text-align: center;
  }
}
body #page2 #mainbloc .bloc h2 {
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 360px) and (max-width: 768px) {
  body #page2 #mainbloc .bloc h2 {
    font-size: 1.7em;
  }
}
body #page2 #mainbloc .bloc img {
  width: 100%;
  height: 100%;
}
body #page2 #mainbloc .bloc a {
  font-size: 1.25em;
  text-decoration: none;
  color: white;
  border-radius: 0.25em;
  border: 0em;
  width: 11.5em;
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  background-color: rgb(1, 153, 109);
}
body #page3 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /*Article colone à gauche*/
  /*Article colone à droite*/
}
@media screen and (min-width: 360px) and (max-width: 576px) {
  body #page3 {
    flex-direction: column-reverse;
  }
}
body #page3 #art1 {
  height: 70%;
  width: 35%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 360px) and (max-width: 576px) {
  body #page3 #art1 {
    width: 100%;
    height: 40%;
  }
}
body #page3 #art1 #photo {
  height: 100%;
  background-image: url("../pictures/ourproduct.jpg");
  background-repeat: no-repeat;
  position: relative;
}
@media screen and (min-width: 360px) and (max-width: 576px) {
  body #page3 #art1 #photo {
    background-size: contain;
    width: 60%;
    margin: auto;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  body #page3 #art1 #photo {
    background-size: contain;
  }
}
@media screen and (min-width: 768px) and (max-width: 1325px) {
  body #page3 #art1 #photo {
    background-size: contain;
  }
}
body #page3 #art1 #card {
  position: absolute;
  top: 50%;
  left: -10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 40%;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 0.3em 0.1em #aca6a6;
}
@media screen and (min-width: 360px) and (max-width: 576px) {
  body #page3 #art1 #card {
    height: initial;
    top: 30%;
    left: -10%;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  body #page3 #art1 #card {
    top: 25%;
    width: 60%;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  body #page3 #art1 #card {
    top: 30%;
  }
}
body #page3 #art1 #card span {
  font-size: 1em;
}
@media screen and (min-width: 360px) and (max-width: 768px) {
  body #page3 #art1 #card span {
    font-size: 0.6em;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  body #page3 #art1 #card span {
    font-size: 0.85em;
  }
}
body #page3 #art1 #card #cardid {
  width: 20%;
  border-radius: 80%;
}
body #page3 #art1 #card h4 {
  font-size: 0.625em;
}
@media screen and (min-width: 360px) and (max-width: 576px) {
  body #page3 #art1 #card h4 {
    font-size: 0.6em;
  }
}
body #page3 #art2 {
  height: 70%;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 360px) and (max-width: 576px) {
  body #page3 #art2 {
    width: 100%;
    height: 40%;
    text-align: center;
  }
}
body #page3 #art2 * {
  width: 95%;
}
body #page3 #art2 p {
  font-size: 1.25em;
}
@media screen and (min-width: 360px) and (max-width: 576px) {
  body #page3 #art2 p {
    font-size: 1em;
  }
}
body #page3 #art2 span {
  font-size: 1.57em;
  color: rgb(66, 66, 66);
}
@media screen and (max-width: 768px) {
  body #page3 #art2 h2 {
    font-size: 1.7em;
  }
}
body #page3 #art2 a {
  font-size: 1.25em;
  text-decoration: none;
  color: white;
  border-radius: 0.25em;
  border: 0em;
  width: 11.5em;
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  background-color: rgb(1, 153, 109);
}/*# sourceMappingURL=style.css.map */